<%provide(:title, "Be like a winner!!")%>
<div class="title" id="titleSport">

</div>
<div>
    <h2>My Favorite SPort</h2>
    <p>
        There is a dilema here, becouse i consider that i am a competitive person, so I really hate to lose,and that doesn't mean that i am a bad loser,it's just that i really like any activity that implies win or lose :O I dont even know if that is a good thing, becouse i can't focus in a sport or videogames or card games or table's games etc. because  I everytime change of mindset. so one day really love the basquetball and other day the voleyball and other day the soccer and other day a competitive videogame called Rocket League, etc. So in the present i really love that game is a really explosive fusion between cars and futbol (mindblow !! puuushhhhh !!!!) and is really amazing and adictive game so here we go :D.

        I know that is not a sport, but like i said this a really competitive game and come on !!  it is futbol + cars (mindblow X2!! puuushhhhh !!!!puuushhhhh !!!) this have to count right? :D so if you want to know more about this incredible game you can visit the oficial webpage clicking the image below and if you decide to buy it, we can play toguether and be the champions of the world :D.
    </p>
</div>
