<%provide(:title, "Rock and Roll!!")%>
<div class="title" id="titleBand">

</div>
<div class="container" id="text">
    <h2>Cage the elephant</h2>
    <div class="col-md-8">
        <p>
        Cage the Elephant is an American rock band from Bowling Green, Kentucky, that formed in 2006 and relocated to London, England in 2008 before their first album was released. The band currently consists of vocalist Matthew Shultz, rhythm guitarist Brad Shultz, drummer Jared Champion and bassist Daniel Tichenor.
        </p>

        <p>
        Cage the Elephant are known for energetic live performances and for possessing an eclectic sound. The band's first album is influenced by classic rock, funk, and blues music. However, the band's second album, Thank You, Happy Birthday, displayed heavy influence by punk rock and bands such as the Pixies and Nirvana, while Melophobia was a concerted effort by the band to find its own distinct musical identity, and earned them a Grammy Award nomination in 2015 for Best Alternative Music Album. Cage the Elephant's fourth album, Tell Me I'm Pretty, produced by Dan Auerbach, was released on December 18, 2015. The album won the award for Best Rock Album at the 59th Grammy Awards.
        </p>

        <p>At the final of 2016, searching good music in spotify, I was really lucky to found a band that really really like me.It's Fucking awesome!!!!. This is Cage the elephant and i dont know how explain the feelings that their music makes me feel. I created a playlist in spotify, i hope you like it.
        
        It is just Awesome. Becouse remember. You are in awesomeland :D .
        </p>
    </div> 
    <div class="col-md-4">
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1277007854%3Aplaylist%3A1eJtZfqWUWySFMlSRhSsBd" width="100%" height="500" frameborder="0" allowtransparency="true"></iframe>
    </div>
</div>
