<%provide(:title, "This is Salvador :)")%>

<div class="title" id="titleAboutMe">

</div>
<div>
    <h2>About Me "Salvador Jiménez Mendoza"</h2>
    <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis, qui nam doloremque minima mollitia odit enim, eligendi architecto quos, nemo nesciunt similique. Deserunt voluptas praesentium alias ipsum libero enim veritatis, dicta asperiores, officia, fugiat ipsa laudantium. Hic debitis, asperiores.</p>
            </div>
            <div class="col-md-4">
                <%= image_tag("ctecover2.jpg")%>
            </div>
            <div class="col-md-4">
                <%= image_tag("ctecover2.jpg")%>
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum rem, maiores. Consequuntur dolorem suscipit provident, fugiat, rerum non laudantium ut eveniet veniam quasi autem facere sit expedita similique tenetur esse rem, explicabo dolores quaerat dicta architecto! Laboriosam, vitae. Consectetur, ea!</p>
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis, qui nam doloremque minima mollitia odit enim, eligendi architecto quos, nemo nesciunt similique. Deserunt voluptas praesentium alias ipsum libero enim veritatis, dicta asperiores, officia, fugiat ipsa laudantium. Hic debitis, asperiores.</p>
            </div>
            <div class="col-md-4">
                <%= image_tag("ctecover2.jpg")%>
            </div>
    </div>
</div>

