<%provide(:title, "This is Salvador :)")%>

<div class="title" id="titleAboutMe">

</div>
<div class="container" id="text">
    <h2>About Salvador Jiménez Mendoza</h2>
    <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-8">
                    <p>Hello, :D as you can see my name is Salvador, most of people told me Chava
                    I'm 24 years old and I'm fithing to be a good software developer
                    I'm in my final semester of software engginering and I'm really exited to work with
                    you guys.
                    </p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("kurono.jpg",:class => "img-responsive center-block")%>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <%= image_tag("kasuga2.jpg",:class => "img-responsive center-block")%>
                </div>
                <div class="col-md-8">
                    <p>Be a software developer or a programer is one of my favorite things in this life,
                    it's so funny trying to solve puzzels, mainly of logic. I'ts really exiting know that you has contributed in the development of one application or program that help to other people work eficiently and maybe automatizing some tasks, the programation help to everyone in this planet and thats is amazing.</p>
                </div>
            </div>
            
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-8">
                    <p>As you can see at the moment that i send this task to the magmahackers slack, it's too late, the delivery date has passed and thats it a big problem with me, the most part of time i'm fail in the delivery dates of tasks and i know that is really importat be puntual but I think that i don't have enought motivation, in the last 6 years i worked in many areas here in colima, of course nothing relevant with software developing. And i can work in this area is the only that matters to me. Is the only thing that i really like to do. So i'm just waiting the moment to work with you . that is for sure. :)</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag("scoot1.png",:class => "img-responsive center-block")%>
                </div>
            </div>
            
    </div>
</div>

