<%provide(:title, "Welcome Mortals")%>

<div class="title" id="titleHome" >
    <h1>Welcome to Awesomeland</h1>
    <p>Where everything is .... ammm awesome :)</p>
</div>
<div class="container" id="text">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>I want to know about you!!</h2>
            <p>
                Hello friend !! :D I'll be direct and honest with you, I'm here to show you 
                a litle part of my life and tell you a few things about me !! yeah yea i know 
                what are you thinking, in the past i did a web page showing some hobbies 
                and things that  I really enjoy to do, but that was different,  wasn't 
                everything. So this time i want to be very clear and i wanna share with you
                these static pages that literally  are pieces of my life, my heart and soul
                :') (sometimes I'am the best poet jaja .... ok no :(  ).
            </p>
            <p>
                If you are interested to know my boring life , you can click in the links below to know some things about me , about my favorite band and my favorite sport. So come on I know that you dont have nothing better to do :) so :D like says the song that i can't remember the name at this time says : "WHAT ARE YOU WAITING FOOOOOOR !!! OOHH LOVE ME  LIKE YOU DO LOVE ME LOVE ME LIKE YOU DOOO !!! aAAAAAAAAARRRRRRHHHHHGGG!!!"  :D
            </p>
        </div>
    </div>
</div>
<div class="container" id="links">
    <div class="row">
        <div class="col-md-4">
            <h3>About Me</h3>
            <%= link_to image_tag("ctecover2.jpg"),about_me_path,:class => "imgLikns"%>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <h3>My favorite band</h3>
            <%= link_to image_tag("ctecover2.jpg"),about_my_favorite_band_path,:class => "imgLikns"%>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <h3>My Favorite Sport</h3>
            <%= link_to image_tag("rocketleague.jpg"),about_my_favorite_sport_path,:class => "imgLikns"%>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
<hr class="divider">

